.commentBlock {
}

.content {
    margin-bottom: 2%;
    margin-left: 2%;
}

.commentCom {
    border: 5px solid var(--color1);
    width: 50%;
    background-color: var(--color1);
    height: auto;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    word-break: break-all;
    padding: 2px;
}

.ui.comments.contentGroup {
    border-left: 4px solid white;
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    min-height: 100px;
    height: 500px;
    width: 100%;
    max-width: 100%;
}

.ui.comments.contentGroup::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.ui.comments.contentGroup::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.ui.comments.contentGroup::-webkit-scrollbar-thumb
{
	background-color: var(--color3);
}

.ui.comments.contentGroup:hover {
    border-left: 4px solid var(--color3);
}

time {
    color: white;
}

.commentUser {
    color: white;
}

.commentUser:hover {
    color: var(--color1);
}

.ui.button {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}