.ui.menu {
    background-color: var(--bg-color);
    color: white;
    border: 0;
    border-radius: 0;
}

.ui.menu a.item:hover {
    background-color: var(--color1);
    border-radius: 0%;
}

.ui.menu .active.item {
    background-color: var(--color3);
    border-radius: 0;
}

.ui.menu .active.item:hover {
    background-color: var(--color1);
}

.ui.menu:not(.vertical) .item {
    color: white;
}

#disconnect:hover {
    cursor: pointer;
    background-color: var(--color1);

}

div.ui.stackable.menu {
	border-radius: 0%;
}

.content.icon {
    color: white;
}

.content.icon:hover {
    color: var(--color1);
}

.ui.dropdown {
    background-color: var(--bg-color);
    color: white;
    border-radius: 0%;
    margin: 2%;
}

.ui.dropdown:hover {
    color: var(--color1);
}

.ui.fluid.dropdown {
    background-color: var(--bg-color);
}

.ui.selection.active.dropdown:hover {
    border-color: var(--color1);
}

.ui.selection.active.dropdown {
    border-color: var(--color3);
}

.ui.selection.active.dropdown .menu {
    border-color: var(--color3);
}

.ui.selection.active.dropdown .menu:hover {
    border-color: var(--color1);
}
