.ui.stackable.menu {
    background-color: var(--bg-color);
    color: white;
}

.ui.menu a.item:hover {
    background-color: var(--color1);
    border-radius: 0%;
}

.ui.menu .active.item {
    background-color: var(--color3)
}

.ui.menu:not(.vertical) .item {
    color: white;
}

#disconnect:hover {
    cursor: pointer;
    background-color: var(--color1);

}

div.ui.stackable.menu {
	border-radius: 0%;
}