.item-container {
    border: 2px solid var(--color3);
    border-radius: 2%;
    width: 312px;
    min-width: 312px;
    height: 450px;
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 2px;
    background-size: cover;
    background-image: url('https://react.semantic-ui.com/assets/images/wireframe/image.png');
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.item-container > .item-info {
  opacity: 0
} 

.item-container > .opac {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-family: unset;
  text-align: center;
  color: white;
  margin-top: 5%;
}

.date {
  height: 15%;
  font-size: 0.7rem;
  text-align: center;
  color: white;
  margin-top: 2%
}

.item-container > .item-info > .desc {
  height: 56%;
  font-size: 0.9rem;
  text-rendering: none;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.item-container > .item-info > .grade {
  height: 14%;
  font-size: 1.2rem;
}

.grade {
  margin-top: 60%;
}

.item-container:hover {
  border: 2px solid var(--color1);
}

.item-container:hover > .item-info {
  opacity: 1;
}

.item-container:hover > .opac {
  opacity: 1;
}

.ui.statistic > .value.statValue {
  margin-top: -5%;
  font-size: 2rem!important;
  color: white;
}

.ui.inverted.segment {
  background: none;
}

.ui.inverted.segment > button {
  margin: auto;
  display: block;
}

.ui.green.inverted.button {
  color: var(--color3);
  box-shadow: 0 0 0 2px var(--color3) inset!important;
}

.ui.green.inverted.button:hover {
  background-color: var(--color3)
}

.ui.green.inverted.button:focus {
  background-color: var(--color3)
}