$bg-color: #35404f;
$color1: #4aaaa4;
$color2: #7accc7;
$color3: #e45f57;
$font: 'Rubik', sans-serif;

:root {
    --bg-color: $bg-color;
    --color1: $color1;
    --color2: $color2;
    --color3: $color3;
  }
  
html, body, #root, #container-root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: $font;
    font-size: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #343434;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #BBB;
}

@import 'register.scss';
@import 'login.scss';
@import 'movie.scss';
@import 'profile.scss';
@import 'components/frontBarre.scss';
@import 'components/grid.scss';
@import 'components/item.scss';
@import 'components/notification.scss';
@import 'components/comment.scss';
