.grid {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.container {
    background: var(--color3);
    padding: 5px;
    width: 400px;
    min-width: 300px;
    height: 210px;
    margin-top: 10px;

    font-family: monospace;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.imgcontent {
    height: 202px;
}
.description {
    display: flex;
    flex-direction: column;
    // color: black;
    height: 100%;
    width: 100%;
}
.titre {
    height: 15%;
}
.resumer {
    height: 70%;
    overflow: auto;
    text-overflow: ellipsis;
}
.noteEtLangue {
    height: 15%;
    display: flex;
    flex-direction: row;
}
.note {
    width: 50%;
    text-align: center;
}
.langue {
    width: 50%;
    text-align: center;
}
.textcontent {
    width: 300px;
    min-width: 200px;
}
img{
    max-height: 200px;
}
#path_img:hover {
    opacity: 0.1;
    cursor: pointer;
}