.bodytest {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.content {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    height: 202px;
    width: 25%;
    // min-width: 500px;
    margin: 5px;
    border: solid 1px red;
}
.imgcontent {
    height: 202px;
    border: solid 1px red;
}
.textcontent {
    width: 300px;
    min-width: 200px;
}
img{
    max-height: 200px;
}