#login1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
    width: 100%
}

.login1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
    width: 100%
}

.input-login {
    margin: 5px 0px;
    // width: 280px;
    width: auto;
}

.label-login-btn {
    text-align: center;
    width: 50px;
}

.btn-login {
    margin: 10px 0px!important;
    // width: 280px;
    width: auto;
}

#login1 {
  justify-content: center;
  z-index: 0;
  position: absolute;
}

.Mylogin {
  z-index: 1;
  justify-content: center;
  position: absolute!important;
  top: 50%;
  left: 50%;
}

video {
  // width: 100%;
  // height: inherit;
  width: auto;
  height: 100%;
}

.myButtonCenter {
  display: block;
  margin : auto;
}


.centerMiddle {
  position: absolute;
  z-index: 1;
  top: 0;
  margin: auto;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: auto;
  left: auto;
  margin: auto;
}

.avatarRegister {
  width: auto!important;
}
