#login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
}

.input-login {
    margin: 5px 0px;
    width: 280px;
}

.label-login-btn {
    text-align: center;
    width: 90px;
}

.btn-login {
    margin: 10px 0px!important;
    width: 280px;
}

#login {
  justify-content: center;
  z-index: 0;
  position: absolute;
}

.Mylogin {
  justify-content: center;
  z-index: 1;
  position: absolute!important;
  top: 50%;
  left: 50%;
}

video {
  width: 100%!important;
  height: auto;
}

.myButtonCenter {
  display: block;
  margin : auto;
}
