#login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
}

.input-login {
    margin: 5px 0px;
    width: 280px;
}

.label-login-btn {
    text-align: center;
    width: 90px;
}

.btn-login {
    margin: 10px 0px!important;
    width: 280px;
}
