.backMovie {
    background-size: cover;
    margin: auto;
    display: block;
    margin-top: 2%;
}

.ui.large.image.dimmable {
    display: block;
    margin: auto;
}

.quality {
    margin-top: 2%;
    margin: auto;
    display: table;
}

.ui.horizontal.divider {
    color: white;
}

.ui.animated.button {
    margin-top: 2%;
}