.backMovie {
    background-size: cover;
    margin: auto;
    display: block;
    margin-top: 2%;
}

.ui.large.image.dimmable {
    display: block;
    margin: auto;
}

.quality {
    margin-top: 2%;
    margin-bottom: 2%;
    margin: auto;
    display: table;
}

.ui.horizontal.divider {
    color: white;
}

.ui.animated.button {
    margin-top: 2%;
}

.overview {
    margin: 3% 15% 3%;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 4%;
    margin-top: 6%;
}