.backMovie {
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    margin: auto;
    display: block;
}

img {
    margin: auto;
}

.ui.large.image.dimmable {
    display: block;
    margin: auto;
}