.backPic {
    background: var(--color1);
    padding: 3%;
}

.profile {
    margin-right: auto;
    margin-left: auto;
    display: block;
    bottom: -137px;
}

.userName {
    margin-top: 127px;
    font-size: 2em;
}