.backPic {
    background: var(--color1);
    padding: 3%;
}

.caret.up {
    color: var(--bg-color);
    margin: auto;
    display: block;
    font-size: 3em;
    margin-top: -1.5%;
}

.profile {
    margin-top: 2%;
}