.backPic {
    background-size: cover;
    width: 30vw;
    min-width: 150px;
    max-width: 300px;
    height: 30vw;
    min-height: 150px;
    max-height: 300px;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    margin-top: 6%;
}

.profile {
    margin-right: auto;
    margin-left: auto;
    display: block;
    bottom: -10px;
}

.pencil {
    float: right;
    margin-top: 1%;
    color: var(--color1)
}

.editProfile {
    float: right;
    margin-top: 1%;
}

.userName {
    font-size: 2em;
    margin-top: 60px;
    line-height: 1em;
}

.userLogin {
    margin-top: 1%;
}

.editForm {
    padding: 5%;
}

.row {
    color: white;
}

i.user.icon {
    color: var(--color1);
}

i.mail.icon {
    color: var(--color1);
}

.ui.large.buttons {
    margin-bottom: 10px;
}

.ui.buttons.oklm {
    margin-bottom: 10px;
}

@media screen and (max-width: 605px) {
    .ui.buttons {
        padding-left: 0.3rem;
    }
    .ui.large.buttons {
        margin-top: 10px;
    }
}