@media screen and (max-width: 374px)
{
  .previewImage {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    overflow: hidden;
  }
  .containerImg {
    text-align: center;
    margin-top: 100px;
  }
  #defaultPicture {
    margin-top: 30px;
  }
}
.previewImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 10px;
}
.containerImg {
    text-align: center;
}
.containerImgDrop {
  text-align: center;
  border-radius: 100px;
  margin: auto;
}

.previewDropZone {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 10px;
}

#register {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
  width: 100%
}

.register {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(110deg, #8673D7, #45A2C9 );
  width: 100%
}