img.logoImg {
    display: block;
    margin: auto;
    max-width: 90%;
}

div.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 45px;
}

.ui.segment.segmentReset {
    max-width: 90%;
}